body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.winner-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0099FF;
    color: #ffffff;
    width: 430px;
    height: 74px;
    font-size: 33px;
    border-radius: 12px 12px 0 0;
}
 .scoreboard-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 148px;
    background-color: #0099FF;
    border-radius: 17px;
    
}
.player-name{
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
    height: 120px;
    font-size: 104px;
    font-weight: 900;
    border-radius: 17px;
    color: #0099FF;
    background-color: #ffffff;
}

.score-separation{
    display: flex;
    width: 74px;
    height: 78px;
    font-size: 58px;
    font-weight: 900;
    color: #ffffff;    
}

.battle-field{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;   
    width: 100%;
    height: 45%;    
    padding: 0 2%;
    gap: 16px;

}

.button-move-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;   
}

.button-move{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid #0099FF;
    background-color: #0099FF;
    color: #ffffff;
    font-size: 44px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 300ms;
}
.button-move:hover{
    background-color:#ffffff;
    color: #0099FF;
}

.config-box{
    display: flex;
    margin-top: 22px;
    gap: 100px;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 17px;
    padding: 35px;    
    width: 100%;
    height: 100%;
    background-color: #0099FF;
}

.move-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    height: 100%;
    background-color: #DBF1FF;
    border-radius: 17px;
}

.move-box img {
    width: 80%;
    height: auto;
}

#move-box-2 img{
    transform: scaleX(-1);
}

.move-box-separation{
    font-size: 104px;
    color: #ffffff;
    font-weight: 900;
}

@media screen and (max-width: 720px){
    body{
        justify-content: space-evenly;
        padding: 1%;
    }

    .player-name{
        display: none;
    }

    .winner-title{
        width: 90%;
        font-size: 24px;
    }

    .scoreboard-box{
        width: 100%;        
    }

    .score{
        width: 95px;
        height: 108px;
        font-size: 75px
    }

    .score-separation{
        justify-content: center;
    }
    
    .config-box{
        gap: 10px;        
    }

    .battle-field{
        flex-direction: column;
    }

    .button-move-wrapper{
        flex-direction: row;
        height: unset;
    }

    .button-move{
        font-size: 25px;
        width: 115px;
    }
    
    .board{
        padding: 10px;
    }
    
    .move-box{
        width: 40%;
    }
    
    .move-box-separation{
        font-size: 20px;
    }
    @media screen and (min-width: 768px) {
        .scoreboard-box{
            width: 90%;
        }
    
        .move-box-separation{
            font-size: 60px;
        }
    
        .battle-field{
            height: 30%;
        }
    
        .board{
            padding: 15px;
            height: 75%;
            margin-top: 10px;
        }
    
        .button-move-wrapper{
            height: 75%;
            margin-top: 10px;
        }
    
        .config-box {
            margin-top: 0px;
        }
    
        .button-move{
            width: 160px;
        } 
    
    }    
}